services:
  backend:
    build: ./backend
    container_name: backend_service_container
    ports:
      - "8000:8000"
    networks:
      - app_network

  frontend:
    build: ./frontend
    container_name: frontend_service_container
    ports:
      - "5173:80"
    networks:
      - app_network
    depends_on:
      - backend

networks:
  app_network:
    name: app_network